body {
    background-color: azure;
    text-align: center;
}

#container {
    margin: 0 auto;
    display: grid;
    width: 800px;
    height: 800px;
}

#container div {
    border: 1px solid black;
    text-align: center;
}

button {
    margin-bottom: 2%;
}

.hover {
    background-color: blue;
}