body {
    background-color: azure;
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container div {
    width: 6%;
    line-height: 70px;
    border: 1px solid black;
    text-align: center;
}

.hover {
    background-color: blue;
}